<form id="dbquery_form" method="POST"> {% csrf_token %}
    <div class="form-group">
        
        <label for="infile">Input file</label>
        <input class="form-control" id="infile" name="infile" placeholder="Enter your input file here" required=true
        value="list_1.txt">
        
        <label for="outfile">Output file</label>
        <input class="form-control" id="outfile" name="outfile" placeholder="Enter your output file here" required=true
        value="SampleFile_{{millis}}.out">

    </div>
    <button type="submit" class="btn btn-default">Queue AVI job</button>
</form>

{% load staticfiles %}
<script src="{% static 'avi/js/panel_enter_query.js' %}"></script>
